# Created by .ignore support plugin (hsz.mobi)
.idea/.gitignore
.idea/MultilingualLagClassification.iml
.idea/inspectionProfiles/
.idea/libraries/
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
data/
